.hs_jsonDump {
    flex: 1 1 auto;
    overflow: scroll;
}

.hs_btnCtaSml:focus {
    outline: none;
}

.hs_message {
    flex: 0 1 auto;
}

.hs_showJsonButton {
    flex: 0 1 auto;
}

.hs_sdkContainer {
    display: flex;
    margin-bottom: 10px;
    padding-top: 15px;
}

.hs_sdkContainer:last-child {
    margin-bottom: 0px;
}

.hs_sdkInput {
    flex-grow: 1;
}

.hs_sdkFunctions {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.hs_topBar {
    margin-bottom: 40px;
    display: block;
}

.hs_getTwitterAccountsOutput {
    margin-left: 10px;
}

body {
    padding-bottom: 100px!important;
}

.container {
    margin-top: 40px;
}

#error-alert {
    margin-top: 30px;
}

.form-group {
    /*padding-top: 20px;*/
}

.hs_userName {
    color: #00aeef!important;
    text-decoration: underline!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.3em!important;
    cursor: pointer;
}

.hs_postBody {
    font-family: 'Robonto', sans-serif;
}

label {
    font-size: 20px;
}

.btn {
    color: white!important;
}