.hs_jsonDump {
    flex: 1 1 auto;
    overflow: scroll;
}

.hs_btnCtaSml:focus {
    outline: none;
}

.hs_message {
    flex: 0 1 auto;
}

.hs_showJsonButton {
    flex: 0 1 auto;
}

.hs_sdkContainer {
    display: flex;
    margin-bottom: 10px;
    padding-top: 15px;
}

.hs_sdkContainer:last-child {
    margin-bottom: 0px;
}

.hs_sdkInput {
    flex-grow: 1;
}

.hs_sdkFunctions {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.hs_topBar {
    margin-bottom: 40px;
    display: block;
}

.hs_getTwitterAccountsOutput {
    margin-left: 10px;
}

body {
    padding-bottom: 100px!important;
    font-family:"Open Sans", Helvetica Neue, Helvetica, Arial;
}

.container {
    margin-top: 40px;
}

#error-alert {
    margin-top: 30px;
}

.form-group {
    /*padding-top: 20px;*/
}

.hs_userName {
    color: #00aeef!important;
    text-decoration: underline!important;
    font-family:"Open Sans", Helvetica Neue, Helvetica, Arial;
    font-weight: 800;
    font-size: 1.3em!important;
    cursor: pointer;
}


label {
    font-size: 20px;
}

.btn {
    color: white!important;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

.tooltip, .remove-location {
    pointer-events: none;
}
